<!-- <ion-card> -->
  <!-- <ion-card-content> -->
    <ion-grid style="width: 100%;">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Bank Name</ion-label>
            <ion-input class='border-input' placeholder="Bank Name" value="{{ info.name }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Bank Address</ion-label>
            <ion-input class='border-input' placeholder="Bank Address" value="{{ info.address }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Mobile #</ion-label>
            <ion-input class='border-input' placeholder="03XXXXXXXXX" value="{{ info.mobile }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Credit Card</ion-label>
            <ion-input class='border-input' placeholder="Credit Card" value="{{ info.custom_type }}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- </ion-card-content> -->
<!-- </ion-card> -->
